<app-header-bar> </app-header-bar>
<app-side-bar> </app-side-bar>


    <div class="col-md-12" style="display:none">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">BUY</div>
          <div class="panel-body">
              <form role="form" [formGroup]="buyForm">
                  <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Quantity</label>
                <input formControlName="quantity"  type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter Quantity">
              </div>
             
              <button (click)="addBuyTrade()" type="button" class="btn btn-primary btn-lg" title="">BUY</button>
            </form>
          </div>
        </div>
      </div>
