

	<!-- Top Menu Items -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block mr-20 pull-left" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
		<a href="index.html"><img class="brand-img pull-left" src="../../../assets/dist/img/logo.png" alt="brand"/></a>
		<ul class="nav navbar-right top-nav pull-right">
			<!-- <li>
				<a href="javascript:void(0);" data-toggle="collapse" data-target="#site_navbar_search">
				<i class="fa fa-search top-nav-icon"></i>
				</a>
			</li> -->
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="../../../assets/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/><span class="user-online-status"></span></a>
				<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
					<li>
						<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-fw fa-credit-card-alt"></i> my balance</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="javascript:void(0);" (click)="doLogout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="collapse navbar-search-overlap" id="site_navbar_search">
			<form role="search">
				<div class="form-group mb-0">
					<div class="input-search">
						<div class="input-group">	
							<input type="text" id="overlay_search" name="overlay-search" class="form-control pl-30" placeholder="Search">
							<span class="input-group-addon pr-30">
							<a  href="javascript:void(0)" class="close-input-overlay" data-target="#site_navbar_search" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="fa fa-times"></i></a>
							</span> 
						</div>
					</div>
				</div>
			</form>
		</div>
	</nav>
	<!-- /Top Menu Items -->
