

<div class="wrapper">
  <app-header-bar> </app-header-bar>
  <app-side-bar> </app-side-bar>
  
  <!-- Main Content -->
  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Title -->
      <div class="row heading-bg bg-pink">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h5 class="txt-light">add-category</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
          <li><a href="index.html">Dashboard</a></li>
          <li class="active"><span>add-category</span></li>
          </ol>
        </div>
        <!-- /Breadcrumb -->
      </div>
      <!-- /Title -->
      
      <!-- Row -->
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="form-wrap">
                  <form action="#">
                    <h6 class="txt-dark capitalize-font"><i class="icon-list mr-10"></i>about product</h6>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label mb-10">Product Name</label>
                          <input type="text" id="firstName" class="form-control" placeholder="Rounded Chair">
                        </div>
                      </div>
                      <!--/span-->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label mb-10">Sub text</label>
                          <input type="text" id="lastName" class="form-control" placeholder="globe type chair for rest">
                        </div>
                      </div>
                      <!--/span-->
                    </div>
                   
                    <div class="seprator-block"></div>
                    <h6 class="txt-dark capitalize-font"><i class="icon-speech mr-10"></i>Product Description</h6>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" rows="4">Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</textarea>
                        </div>
                      </div>
                    </div>
                    
                    <div class="seprator-block"></div>
                    <h6 class="txt-dark capitalize-font"><i class="icon-picture mr-10"></i>upload image</h6>
                    <hr>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="img-upload-wrap">
                          <img class="img-responsive" src="../../../assets/dist/img/chair.jpg" alt="upload_img"> 
                        </div>
                        <div class="fileupload btn btn-info btn-anim"><i class="fa fa-upload"></i><span class="btn-text">Upload new image</span>
                          <input type="file" class="upload">
                        </div>
                      </div>
                    </div>
                    <div class="seprator-block"></div>
                    <div class="form-actions">
                      <button class="btn btn-success btn-icon left-icon mr-10"> <i class="fa fa-check"></i> <span>save</span></button>
                      <button type="button" class="btn btn-warning">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->

    </div>
    
    <!-- Footer -->
    <footer class="footer container-fluid pl-30 pr-30"> 
      <div class="row">
        <div class="col-sm-5">
          <a href="index.html" class="brand mr-30"><img src="dist/img/logo-sm.png" alt="logo"/></a>
          <ul class="footer-link nav navbar-nav">
            <li class="logo-footer"><a href="#">help</a></li>
            <li class="logo-footer"><a href="#">terms</a></li>
            <li class="logo-footer"><a href="#">privacy</a></li>
          </ul>
        </div>
        <div class="col-sm-7 text-right">
          <p>2016 &copy; Kenny. Pampered by Hencework</p>
        </div>	
      </div>	
    </footer>
    <!-- /Footer -->
    
  </div>
  <!-- /Main Content -->
</div>
<!-- /#wrapper -->