

    <!-- <li routerLinkActive="active"><a routerLink="/dashboard"><em class="fa fa-dashboard w-8 h-8">&nbsp;</em> Dashboard</a></li> -->

   <!-- Left Sidebar Menu -->
   <div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
      <li>
        <a  class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr"><i class="icon-picture mr-10"></i>Dashboard <span class="pull-right"><span class="label label-success mr-10">4</span><i class="fa fa-fw fa-angle-down"></i></span></a>
        <ul id="dashboard_dr" class="collapse collapse-level-1">
          <li>
            <a class="active" href="index.html">Analytical</a>
          </li>
          <li>
            <a href="index2.html">Demographic</a>
          </li>
          <li>
            <a href="index3.html">Project</a>
          </li>
          <li>
            <a href="index4.html">Classic</a>
          </li>
        </ul>
      </li>
      <li>
        <a  routerLinkActive="active" href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr"><i class="icon-basket-loaded mr-10"></i>E-Commerce<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
        <ul id="ecom_dr" class="collapse collapse-level-1">
          <li>
            <a href="e-commerce.html">Dashboard</a>
          </li>
          <li>
            <a routerLink="/add-category">Add Category</a>
          </li>
          <li>
            <a routerLink="/list-category">List Category</a>
          </li>
          <li>
            <a routerLink="/add-product">Add Product</a>
          </li>
          <li>
            <a routerLink="/list-product">Products</a>
          </li>
          
          <li>
            <a href="product-orders.html">Orders</a>
          </li>
          <li>
            <a href="product-cart.html">Cart</a>
          </li>
          <li>
            <a href="product-checkout.html">Checkout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /Left Sidebar Menu -->


  
  