td {
    font-size: 1.6rem !important;
}
td .fa {
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid #cdcdcd;
    margin: 0 2px;
}
.sidebar ul li a{
    font-size: 16px;
}
/* You can add global styles to this file, and also import other style files */
.login-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.login-outer .middle {
    display: table-cell;
    vertical-align: middle;
}
.login-form {
    max-width: 500px;
    margin: 2em auto;
    /* background-color: #f7dcdd; */
    padding: 10px;
    border-color: black;
    border: 1px solid #ddd;
    padding: 4em 2em;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.login-form .btn{
    margin:1em .6em 0 0;
}
.login-form h5{
    margin: 0 0 1em 10px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white !important;
}
